/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Centering our page with equal spacing on left and right side */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* Styling the header that stays at the top when scrolling */
.post-header {
  background: rgba(252, 252, 252, 1);
  /* text-align: center; */
  position: sticky;
  width: 100%;
  top: 0;
  padding: 10px;
  margin-bottom: 30px;
}

.post-header h1 {
  width: 100%;
  font-size: 16px;
}

.post-header a:link,
a:visited {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.post-header a:hover,
a:visited {
  font-weight: bold;
}

/* h2 element "Basics of Blackjack ♠️" */
.article-title {
  text-align: center;
  margin-bottom: 10px;
}

/* Blackjack table image */
.blackjack-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2px;
}

.description {
  text-align: center;
  color: #808080;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.fun-facts li {
  margin-left: 40px;
  margin-bottom: 10px;
}

.fun-facts li:last-child {
  margin-bottom: 30px;
}

.footer {
  background-color: #add8e6;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 8px 16px;
  margin-bottom: 30px;
}

.footer a:link,
a:visited {
  text-decoration: none;
  margin-right: 10px;
}

.footer a:hover,
a:active {
  text-decoration: underline;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 10px;
}

.resources-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  width: 30%;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
}

.row {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.footer {
  flex: 0 0 150px;
}

.article {
  flex: 1;
}

.game {
  background-color: #add8e6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.game h2 {
  text-align: center;
  margin-bottom: 10px;
}

.game-message {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.dealer-hand {
  display: flex;
  gap: 15px;
}

.player-hand {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.dealers-cards {
  overflow-x: scroll;
  flex: 0 1 700px;
  background-color: black;

  text-align: left;
}

.dealers-cards p {
  text-align: right;
  margin-right: 10px;
  color: white;
  margin-top: 5px;
}

.players-cards {
  overflow-x: scroll;
  flex: 0 1 700px;
  background-color: black;

  text-align: left;
}

.players-cards p {
  text-align: right;
  margin-right: 10px;
  color: white;
  margin-top: 5px;
}

.game button {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  padding: 16px 32px;
  transition-duration: 0.4s;
  margin-right: 5px;
}

.game button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
